:host {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

:host ::ng-deep p-table {
  flex: 1;
  min-height: 0;
}

:host ::ng-deep .p-datatable {
  background: #fff;
  border-radius: 10px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons {
  display: flex;
  gap: 0.25rem;
}
